
.post-preview {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  background-color: #F2F3F5;
}

.info {
  padding: 10px 40px;
}

.image {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.image-container {
  width: 100%;
}