
.home {
  
}

.list-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.other-post {
  width: 31%;

}

.main-post {
  margin-bottom: 60px;
}